
  .restaurant-menu {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .sidebar {
    background-color: white;
    color: black;
    
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .categories {
    display: flex;
    flex-direction: column;
  }
  
  .categories button {
    background-color: transparent;
    border: none;
    color: black;
    text-align: left;
    padding: 10px 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .categories button:hover,
  .categories button.active {
    background-color: black;
    color: white;
  }
  
  .menu {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-left: 2px solid #ddd;
  }
  
  .menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }
  
  .menu-item span {
    font-size: 18px;
  }
  

  .orders{
      background-image: url(https://gramentheme.com/html/fresheat/assets/img/bg/breadcumb.jpg);;
  }

