body{
    background-color: #f4f1ea;
}
  
  
a{
    text-decoration: none;
  }






  /* booking*/

  .booking-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-section {
  flex: 1;
}

.form-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}


.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-image {
  max-width: 100%;
  height: auto;
}
